footer{
    background-color: #702722;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

@font-face{
    font-family: 'Blood\ &\ Horror'; src: url('../Blood\ &\ Horror.otf'); 
}

h4{
    font-family: 'Blood\ &\ Horror';
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 3px #702722;
}

footer section a{
    text-decoration: none;
    color: #fff;
    
}

footer section a:hover{
    color: #F25449;
}